<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="all.css">
</head>
<body>
    <div class="page">
        <div class="page-border"></div>
        <div class="one-time-use">
            <p>
                One time use only<br />
                Not redeemable for cash
            </p>
        </div>
        <div class="form-header">
            <div class="row">
                <div class="col-6">
                    <div class="referral-block">
                        <img src="images/bc-logo.jpg" class="gov-logo" alt="BC Gov Logo">
                        <div class="referral-info">
                            <h1><label>Referral #:</label> {{ReferralId}}</h1>
                            <p>
                                <span><label>Task #:</label> 43643643</span>
                                <span><label>ESS File #:</label> {{RegistrationId}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="stamp-goes-here">
                        <p>Place Stamp Here</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="info-block">
                    <h3 class="with-icon supplier">Supplier Information</h3>
                    <div class="row">
                        <div class="col-6">
                            <strong>{{Supplier.name}}</strong><br />
                            {{Supplier.Address}}<br />
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{Supplier.City}}<br />
                            Phone: {{Supplier.Telephone}}
                        </div>
                        <div class="col-6">
                            {{Supplier.PostalCode}}<br />
                            Fax: {{Supplier.Fax}}
                        </div>
                    </div>
                    <br />
                    <p><strong>Send original referral form and itemized receipts to:</strong></p>
                    <br />
                    <p>
                        Emergency Management BC<br />
                        PO Box 9201, STN PROV GOVT<br />
                        Victoria BC V8W 9J1<br />
                        Telephone: 1-800-585-9559
                    </p>
                    <br />

                    <ul>
                        <li>Charges for goods and services, including all applicable taxes, must not exceed the Emergency Support Services rates.</li>
                        <li>Alcohol, tobacco and gratuities are not eligible expenses.</li>
                        <li>Maximum meal allowances are set per meal, not per day.</li>
                        <li>Meal allowances for the entire day cannot be combined into one large food order, unless prior authorization is obtained from Emergency Management BC.</li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="info-block outlined">
                    <h3 class="with-icon dates">Valid Only Dates</h3>
                    <div class="row">
                        <div class="col-6">
                            <strong>From:</strong> May-10-2019
                        </div>
                        <div class="col-6">
                            <strong>at:</strong> 11:10 AM
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <strong>From:</strong> May-13-2019
                        </div>
                        <div class="col-6">
                            <strong>at:</strong>11:10 AM
                        </div>
                    </div>
                    <p>Services provided outside the time period will <strong>not</strong> be covered.</p>
                    <br />

                    <h3 class="with-icon meals">Restaurant Meals</h3>
                    <p>
                        3. Breakfast(s) per person at $10 each.
                    </p>
                    <p>
                        3. Lunch(s) per person at $13 each.
                    </p>
                    <p>
                        3. Dinner(s) per person at $22 each.
                    </p>
                </div>
            </div>
        </div>

        <p class="sample-only">Sample Only</p>
    </div>
</body>
</html>
